// FRONT PAGE STYLING

header#hero {
	height:100vh;

	display:flex;
	flex-flow: column wrap;

	ul#menu-main-menu a{
		color:$white;
		position:relative;
		&:hover{
			color:$mainColor;
			padding-bottom: 5px;
			border-bottom: 2px solid $accentColor;
		}
	}
	
	.hero-info {
		margin:auto;
		width:70%;
		text-align: center;
		color:$white;
		p {
			font-size: 2rem;
		}
	}
}

.about-me .container {
	display:flex;
	flex-flow:column wrap;
	justify-content:flex-start;
	align-items:flex-start;

	.about-photo {
		width:calc(30%);
		margin:0 auto;
		margin-bottom: 25px;
		img {
			width: 100%;
			border-radius: 50%;
		}
	}
	.about-description{
		h2 {
			text-align: center;
		}

		p{
			column-count:2;
			column-gap:25px;
		}
	} 
}



// MEDIA QUERIES

/* hi-res laptops and desktops */ 
@media (max-width:1281px) { 

}

/* big landscape tablets, laptops, and desktops */ 
@media (max-width:1025px) { 

}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (max-width:961px) { 
	.about-me .container {
		.about-photo {
			width:calc(40%);
		}
		.about-description{
			p{
				column-count:1;
				column-gap:0px;
			}
		} 
	}
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (max-width:641px) { 

	header#hero {
		height:auto;

		.hero-info {
			width:80%;
			padding:50px 0;
		}

		ul#menu-main-menu a:hover{
			color:$white;
		}
	}
	



}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (max-width:481px) { 

}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (max-width:320px) { 

}
